.Rproj.user
.Rhistory
.RData
.Ruserdata
Lucius_Hu-presentation.Rmd-figure
Lucius_Hu-presentation.Rmd.Rpres
Lucius_Hu-presentation.Rmd.docx
Lucius_Hu-presentation.Rmd.docx.pdf
Lucius_Hu-presentation.Rmd.html
Lucius_Hu-presentation.Rmd.md
